%div.wrap
  %h1 WITAM!
  %div.instructions
    %p Aplikacja którą masz przed sobą jest tak naprawdę podręcznikiem do nauki japońskich znaków, zwanych kanji. Jest ona przeznaczona głównie dla osób, które posiadają podstawową wiedzę na temat dwóch alfabetów japońskich (hiragana oraz katakana), ale także dla wszystkich tych, którzy właśnie zaczęli swoją przygodę z językiem japońskim.

    %p Celem tej aplikacji jest ukazanie nauki języka japońskiego z innej strony, oraz udowodnienie, że nie jest to tak trudny język jak mogłoby się wydawać początkującym. Głównym założeniem jest nauka skomplikowanych znaków kanji za pomocą radykałów(prostszych znaków) składających się na nie. Dodatkowo zastosowaną metodą jest mnemonika, polegająca na skojarzeniach obrazów oraz historii z zapamiętywanym znakiem.

    %p Dla efektywnej nauki zacznij od zapoznania się z listą radykałów oraz ich znaczeń, a następnie przejdź do nauki właściwych znaków kanji. 
    %p Zapamiętując każdy ze znaków oddziałuj na jak największą liczbę zmysłów: 
    %ul
      %li - oglądaj obrazek skojarzeniowy,
      %li - powtarzaj znaczenie oraz czytanie na głos,
      %li - zapisz znak na papierze kilka razy,
      %li - sprawdź z jakich radykałów składa się znak,
      %li - przeczytaj skojarzeniową historyjkę!

    %p Powodzenia!
