<div class=wrap>
<form id="ContactInfo" width="400px" title="Skontaktuj się z nami" action="/contact/create" method="post">
<input type="text" name="first_name" label="Name" require="true" place="Imię" size="30" /> 
<input type="text" name="last_name" label="Surname" require="true" place="Nazwisko" size="30" style="margin-left:10px;" />
<input type="text" name="email" validate="email" place="Adres email" size="30" />
<select id="gender">
<option value="male">Mężczyzna</option>
<option value="female">Kobieta</option>
</select>
<input type="radio" name="membership" value="new" style="margin-left:10px;" /> Zgłoszenie błędu
<input type="radio" name="membership" value="existing" /> Inna sprawa
<input type="password" name="pword" require="true" label="Password" place="Hasło" />
<input type="password" name="pwordm" match="pword" label="Password" place="Powtórz hasło" />
<p></p>
<input type="checkbox" name="agree" require="true" label="Terms" value="agree" style="margin-left:10px;" /> Zapoznałem się z regulaminem
<p></p>
<input type="submit" value="Wyślij" /><input type="reset" value="Resetuj" />
</form>
</div>
