$widthFull: 1180px;
$padding: 15px;
$smallPadding : 5px;
$margin: 15px;
$marginBigger: 30px;

$fontExtraSmall : 11px;
$fontSmall : 13px;
$fontNormal : 15px;
$fontLarge : 18px;
$fontExtraLarge : 24px;

$lineHeightSmall : 16px;
$lineHeightNormal : 20px;
$lineHeightLarge : 30px;
$lineHeightSemiLarge : 40px;
$lineHeightExtraLarge : 50px;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$extraLightGrey: #fefefe;
$lightGrey : #f0f2f5;
$mediumGrey : #dfe1e4;
$darkGrey : #d7d6d6;
$black : #000000;