@import variables

div.section
    border-left: 1px solid $darkGrey
    border-right: 1px solid $darkGrey
.c1
    background-color: silver
.c2
    background-color: red
.c3
    background-color: green
.c4
    background-color: blue